<!-- <div class="bootstrap-wrapper">
  <div class="container">
    <h1> Welcome to TestYourSelf</h1>
    <div class="row">
      <div class="col-md-6">
        <h1>LEFT SIDE</h1>
        <button mat-raised-button color="accent">Wow</button>
      </div>
      <div class="col-md-6">
        <h1>RIGHT SIDE</h1>
        <button mat-raised-button color="primary">Wow</button>  
      </div>
    </div>
  </div>
</div> -->
<ngx-ui-loader fgsColor="#ff4081" pbColor="#ff4081" textColor="#ff4081" pbThickness="6" text="Please wait..."></ngx-ui-loader>

<div ngxUiLoaderBlurred blur="5">
  <!-- This page content will be blurred/frosted when foreground loader is showed -->
  
  <!-- Static content -->
  <app-navbar></app-navbar>
  
  <!-- Dynamic content -->
  <router-outlet></router-outlet>
</div>