<mat-card>

    <mat-action-list>

        <div mat-subheader class="ml10">Menu</div>
        <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon> Categories
            <!--  add_shopping_cart -->
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Categories
            <!-- Google fonts  -->
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
            <!-- Google fonts  -->
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add</mat-icon> Add Quiz
            <!-- Google fonts  -->
        </button>
        <hr>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon> Logout
            <!-- Google fonts  -->
        </button>
    </mat-action-list>

</mat-card>